.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbeaec; /* soft pastel background */
  }
  
  .login-form {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-form h2 {
    text-align: center;
    color: #504454;
    margin-bottom: 10px;
  }
  
  .login-form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #474647;
    transition: 0.3s;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #f2059f;
    box-shadow: 0 0 5px rgba(166, 123, 147, 0.4);
  }
  
  .login-form button {
    background: #ad75ac;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-form button:hover {
    background: #936388;
  }
  
  .signup-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .signup-link a {
    color: #531a48;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  